body {
  font-family: Arial, sans-serif;
  background: #fafafa;
  padding: 20px;
}

.app-container {
  max-width: 600px;
  margin: auto;
}

.card {
  background: white;
  padding: 16px;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

li {
  cursor: pointer;
}

button {
  margin-right: 10px;
  padding: 6px 12px;
}

.completed {
  text-decoration: line-through;
  color: red;
}

.app-container {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  padding: 2rem;
  gap: 1.5rem;
}

.app-container > div:first-child {
  text-align: center;
}
